.menu-item-a {
	 min-width: 30%;
	 height: 240px;
	 flex: 1 1 auto;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border: 1px solid black;
	 margin: 0 7.5px 15px;
	 overflow: hidden;
}
 .menu-item-a:hover {
	 cursor: pointer;
}
 

 .menu-item-a:hover .background-image {
	 transform: scale(1.1);
	 transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
 .menu-item-a:hover .content {
	 opacity: 0.9;
}
 .menu-item-a.large {
	 height: 380px;
}
 .menu-item-a:first-child {
	 margin-right: 7.5px;
}
 .menu-item-a:last-child {
	 margin-left: 7.5px;
}
 .menu-item-a .background-image {
	 width: 100%;
	 height: 100%;
	 background-size: cover;
	 background-position: center;
}
 .menu-item-a .content {
	 height: 90px;
	 padding: 0 25px;
	 display: flex;

	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 border: 1px solid black;
	 background-color: white;
	 opacity: 0.7;
	 position: absolute;
}
 .menu-item-a .content .title {
	 font-weight: bold;
	 margin: 0 6px 0;
	 font-size: 22px;
	 color: #4a4a4a;
}
 .menu-item-a .content .subtitle {
	 font-weight: lighter;
	 font-size: 16px;
}
